body {
	width: 750px;
	
	margin-left: auto;
	margin-right: auto;

	color: #666666;
	font-family: arial;
	font-size: 12px;
}

a, form, input, p {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #A0A0A0;
	text-decoration: underline;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
	font-size: 20px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
	font-size: 16px;
}

#logo {
	width: 750px;
	text-align: right;
}

#navigation {
	width: 735px;
	margin: 0 15px 30px 0;

	text-align: right;

	font-size: 11px;
}

#content {
    padding: 20px 100px;
    font-size: 14px;
    line-height: 1.5em;
}

p code {
    font-size: 85%;
    margin: 0;
    padding: .25em;
    background-color: rgba(27, 31, 35, .05);
    border: 1px #ccc solid;
    border-radius: 3px;
}

pre {
    padding: 1em;
    font-size: 85%;
    background-color: rgba(27, 31, 35, .05);
    overflow: scroll;
}